<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<head>
  <title>Gán nhãn biển số xe</title>
</head>
<!-- <style>
  .container {
    padding: 0rem 0rem;
    margin-left: 10px;

  } -->
</style>
<script>
  var images = [];
  var canvass = [];
  var contexts = [];
  var points = new Array();
  var detects = new Array();
  function fillColor(color, context) {
    context.fillStyle = color;
    context.strokeStyle = color;
    currentColor = color;
  }
  function drawLine(x1, y1, x2, y2, context) {
    fillColor('red', context)
    context.beginPath();
    context.moveTo(x1, y1);
    context.lineTo(x2, y2);
    context.closePath();
    context.stroke();
  }
  function drawPoint(x, y, context) {
    fillColor('blue', context);
    context.beginPath();
    context.rect(x, y, 3, 3);
    context.stroke();
  }

  function refresh(id) {
    var context = contexts[id];
    var canvas = canvass[id];
    var p = points[id];
    //in ra 4 point
    document.getElementById("list_point" + id).innerHTML = "";
    for (var index = 0; index < p.length; index += 2) {
      document.getElementById("list_point" + id).innerHTML += " (" + p[index] + ";" + p[index + 1] + ")\n";
    }

    //clear canvas
    context.clearRect(0, 0, canvas.width, canvas.height);
    context.drawImage(images[id], 0, 0);
    if (p.length == 2) {
      drawPoint(p[0], p[1], context);
      return;
    }
    if (p.length == 4) {
      drawPoint(p[0], p[1], context);
      drawPoint(p[2], p[3], context);
      drawLine(p[0], p[1], p[2], p[3], context);
      return;
    }
    if (p.length == 6) {
      drawPoint(p[0], p[1], context);
      drawPoint(p[2], p[3], context);
      drawPoint(p[4], p[5], context);
      drawLine(p[0], p[1], p[2], p[3], context);
      drawLine(p[2], p[3], p[4], p[5], context);
      return;

    }
    if (p.length == 8) {
      drawPoint(p[0], p[1], context);
      drawPoint(p[2], p[3], context);
      drawPoint(p[4], p[5], context);
      drawPoint(p[6], p[7], context);
      drawLine(p[0], p[1], p[2], p[3], context);
      drawLine(p[2], p[3], p[4], p[5], context);
      drawLine(p[4], p[5], p[6], p[7], context);
      drawLine(p[6], p[7], p[0], p[1], context);
      return;

    }
  }
  function getMousePos(canvas, evt) {
    var rect = canvas.getBoundingClientRect();
    return {
      x: Math.round(evt.clientX - rect.left),
      y: Math.round(evt.clientY - rect.top)
    };
  }
  function clearCanvas(id) {
    points[id].length = 0;
    refresh(id);
  }
  function update_checkbox(id) {
    var check_box = document.getElementById("checkbox" + id);
    if (!check_box.checked) {
      document.getElementById("list_point" + id).innerHTML = "";
      points[id].length = 0;
      refresh(id);
    }

  }
</script>

<body style="background-color: burlywood;">
  <div class="container">
    {%for img in imgs%}
    <div class="row" style="border: groove;">
      <div class="col-sm-8"
        style="  display: flex;justify-content: center;align-items: center;background-color:black; width: 600;height: 450;overflow: auto;">
        <canvas id="canvas{{img[0]}}" style="border:1px solid #000000;width: auto;height: auto;"></canvas>
      </div>
      <div class="col-sm-4" style="background-color: cadetblue;">
        <div class="form-horizontal" style="font-size: 14px;font-weight: 600;margin: auto;">
          <div class="form-group">
            <p class="control-label col-sm-3">ID:</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control" id="id{{img[0]}}" value="{{img[0]}}">
            </div>
          </div>
          <div class="form-group">
            <p class="control-label col-sm-3">Name:</p>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control" id="path{{img[0]}}" value="{{img[2]}}">
            </div>
          </div>
          <div class="form-group">
            <p class="control-label col-sm-3">Loại xe</p>
            <div class="col-sm-8">
              <!-- <select class="form-control form-control-sm">
                {% if img[1] == 'oto' %}
                <option value="oto" selected="selected">Ô tô</option>
                {% else %}
                <option value="oto">Ô tô</option>
                {% endif %}
                {% if img[1] == 'moto' %}
                <option value="xemay" selected="selected">Xe máy</option>
                {% else %}
                <option value="xemay">Xe máy</option>
                {% endif %}
                <option value="loaikhac">Loại khác</option>
              </select> -->
              {% if img[1] == 'oto' %}
              <input type="text" readonly class="form-control" id="path{{img[0]}}" value="Ô tô">
              {% else %}
              <input type="text" readonly class="form-control" id="path{{img[0]}}" value="Xe máy">
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <p class="control-label col-sm-3">Points</p>
            <div class="col-sm-8">
              <textarea class="form-control" rows="4" id="list_point{{img[0]}}"></textarea>
            </div>

          </div>
          <div class="form-group">
            <p class="col-sm-3 control-label">Trạng thái</p>
            <div class="col-sm-8">
              <input readonly type="text" class="form-control" value="{{img[11]}}"><br>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label> {% if img[11] != 'null' %}
                  <input id="checkbox{{img[0]}}" type="checkbox" checked onclick="update_checkbox('{{img[0]}}')">
                  {% else %}
                  <input id="checkbox{{img[0]}}" type="checkbox" onclick="update_checkbox('{{img[0]}}')">
                  {% endif %} Có biển số </label>
              </div>
            </div>
          </div>

        </div>
        <button id="clear{{i}}" class="btn btn-primary mb-2" onclick="clearCanvas('{{img[0]}}')">Clear</button>
      </div>
    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
      points['{{ img[0] }}'] = new Array();
      images['{{ img[0] }}'] = new Image();
      detects['{{ img[0] }}'] = new Array();
      detects['{{ img[0] }}'][0] = '{{img[0]}}';
      detects['{{ img[0] }}'][1] = '{{img[1]}}';
      detects['{{ img[0] }}'][2] = '{{img[2]}}';
      detects['{{ img[0] }}'][11] = '{{img[11]}}';
      if ('{{img[11]}}' == 'completed') {
        points['{{ img[0] }}'][0] = '{{img[3]}}';
        points['{{ img[0] }}'][1] = '{{img[4]}}';
        points['{{ img[0] }}'][2] = '{{img[5]}}';
        points['{{ img[0] }}'][3] = '{{img[6]}}';
        points['{{ img[0] }}'][4] = '{{img[7]}}';
        points['{{ img[0] }}'][5] = '{{img[8]}}';
        points['{{ img[0] }}'][6] = '{{img[9]}}';
        points['{{ img[0] }}'][7] = '{{img[10]}}';
      }
      if ('{{img[1]}}' == 'oto') {
        images['{{ img[0] }}'].src = "{{url_for('static',filename = 'vehicle/car/'+ img[2]+'')}}";
      } else {
        images['{{ img[0] }}'].src = "{{url_for('static',filename = 'vehicle/moto/'+ img[2]+'')}}";
      }
      canvass['{{ img[0] }}'] = document.getElementById('canvas{{img[0]}}');

      contexts['{{ img[0] }}'] = canvass['{{ img[0] }}'].getContext('2d');
      images['{{ img[0] }}'].onload = function () {
        images['{{ img[0] }}'].style.display = 'none'; // I don't know why they hide it
        //console.log('WxH: ' + images['{{ img[0]}}'].width + 'x' + images['{{ img[0]}}'].height);
        canvass['{{ img[0] }}'].height = images['{{ img[0] }}'].height;
        canvass['{{ img[0] }}'].width = images['{{ img[0] }}'].width;
        contexts['{{ img[0] }}'].drawImage(images['{{ img[0]}}'], 0, 0);
        refresh('{{ img[0] }}');
      };
      canvass['{{ img[0] }}'].addEventListener('click', function (evt) {
        var mousePos = getMousePos(canvass['{{ img[0] }}'], evt);
        if (points['{{ img[0] }}'].length == 0) {
          document.getElementById("checkbox{{ img[0] }}").checked = true;
          points['{{ img[0] }}'].push(mousePos.x);
          points['{{ img[0] }}'].push(mousePos.y);
          refresh('{{ img[0] }}');
          return;
        }
        if (points['{{ img[0] }}'].length >= 2 && points['{{ img[0] }}'].length < 8) {
          points['{{ img[0] }}'].push(mousePos.x);
          points['{{ img[0] }}'].push(mousePos.y);
          refresh('{{ img[0] }}');
          return;
        }
        if (points['{{ img[0] }}'].length == 8) {
          return;
          refresh('{{ img[0] }}');

        }
      }, false);
      canvass['{{ img[0] }}'].addEventListener('mousemove', function (evt) {
        var mousePos = getMousePos(canvass['{{ img[0] }}'], evt);
        if (points['{{ img[0] }}'].length >= 2 && points['{{ img[0] }}'].length < 8) {
          refresh('{{ img[0] }}');
          drawLine(points['{{ img[0] }}'][points['{{ img[0] }}'].length - 2], points['{{ img[0] }}'][points['{{ img[0] }}'].length - 1], mousePos.x, mousePos.y, contexts['{{ img[0] }}']);
        }

      }, false)

    </script>
    {%endfor%}
    <div style="height: 100px;text-align: center;">
      <button class="btn btn-primary mb-2" onclick="saveAll('first')">Trang đầu</button>
      <button class="btn btn-primary mb-2" onclick="saveAll('previous')">Trang trước</button>
      <label style="border: groove;text-align: center;">{{cur_page}}</label>
      <button class="btn btn-primary mb-2" onclick="saveAll('next')">Trang sau</button>
      <button class="btn btn-primary mb-2" onclick="saveAll('last')">Trang cuối</button>

    </div>
  </div>
</body>
<footer style="height: 100px; background-color: burlywood;">

</footer>
<script>
  function saveAll(then) {
    console.log(JSON.stringify(points));
    detects.forEach(item => {
      if (points[item[0]].length >= 8) {
        for (let index = 3; index <= 10; index++) {
          item[index] = points[item[0]][index - 3];
        }
        item[11] = 'completed';
      } else {
        if (document.getElementById('checkbox' + item[0]).checked == true) {
          item[11] = 'raw'
        } else {
          item[11] = 'null';
        }
      }
      last_index = item[0];
      console.log(last_index);
    });
    // $.ajax({
    //   type: "POST",
    //   url: "/",
    //   dataType:JSON,
    //   data: { "data": JSON.stringify(points) },
    //   success: alert("messagesent!")
    // });
    const filteredDetects = detects.filter(item => item !== null)


    var cur_page;
    if (parseInt('{{cur_page}}') > 0) {
      cur_page = parseInt('{{cur_page}}');

    } else {
      cur_page = 1;
    }
    json_data = { detects: filteredDetects, first_id: last_index }
    $.post("/" + '{{cur_page}}',
      {
        data: JSON.stringify(json_data),
      });
    //alert("Đã lưu!");
    if (then == 'next') {
      if (cur_page == Math.floor(parseInt('{{max_lenght}}') / 10) + 1) {
        alert("Bạn đang ở trang cuối cùng")
      } else {
        cur_page += 1;
        document.location.href = "/" + cur_page.toString();
      }

    } else if (then == 'previous') {
      if (cur_page == 1) {
        alert("Bạn đang ở trang đầu tiên")
      } else {
        cur_page -= 1;
        document.location.href = "/" + cur_page.toString();
      }
    } else if (then == 'last') {
      cur_page = Math.floor(parseInt('{{max_lenght}}') / 10) + 1;
      document.location.href = "/" + cur_page.toString();
    }
    else {
      document.location.href = "/";

    }
  }
</script>